html {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  overflow: hidden;
}

.page {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: 'fixed';
  top: 0;
  left: 0;
  display: 'flex';
  overflow: hidden;
}

.page img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.pageimg {
  pointer-events: none;
  overflow: hidden;
}

.overlay {
  pointer-events: all;
  overflow: hidden;
  opacity: 0.25;
  transition: opacity 1s;
}

.overlay:hover {
  pointer-events: all;
  cursor: pointer;
  opacity: 0.75;
}

.float1 {
  animation: float1 16s infinite;
  animation-timing-function: ease-in-out;
}

.hover1 {
  animation: hover1 16s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float1 {
  0% {
    transform: translate(1vw, 2vh);
  }
  33% {
    transform: translate(-1vw, 0vh);
  }
  66% {
    transform: translate(2vw, -1vh);
  }
  100% {
    transform: translate(1vw, 2vh);
  }
}

@keyframes hover1 {
  0% {
    top: -3vh;
  }
  50% {
    top: 3vh;
  }
  100% {
    top: -3vh;
  }
}
