#root {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 100%;
  display: block;
  justify-content: center;
  --animation-time: 2s;
}

html {
  overflow: hidden;
  height: max-content;
}

.myRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  position: relative;
  min-width: 600px;
  min-width: 100%;
  padding: 0;
}

.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 25%;
  pointer-events: none;
}

.top {
  top: -7%;
}

.bottom {
  bottom: -7%;
}

.topIdle1 {
  animation: topClose 2s, hoverUp 5s infinite 2s;
}

.bottomIdle1 {
  animation: bottomClose 2s, hoverDown 5s infinite 2s;
}

.topIdle2 {
  animation: topClose 2s, hoverUp 5s infinite 3s;
}

.bottomIdle2 {
  animation: bottomClose 2s, hoverDown 5s infinite 3s;
}

.topIdle3 {
  animation: topClose 2s, hoverUp 5s infinite 3.5s;
}

.bottomIdle3 {
  animation: bottomClose 2s, hoverDown 5s infinite 3.5s;
}

.topOpen {
  animation: topOpen 2s;
  top: -100%;
}

.bottomOpen {
  animation: bottomOpen 2s;
  bottom: -100%;
}

@keyframes topOpen {
  0% {
    top: -2%;
  }
  100% {
    top: -100%;
  }
}

@keyframes bottomOpen {
  0% {
    bottom: -2%;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes topClose {
  0% {
    top: -100%;
  }
  100% {
    top: -7%;
  }
}

@keyframes bottomClose {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: -7%;
  }
}

@keyframes hoverUp {
  0% {
    top: -7%;
  }

  50% {
    top: -3%;
  }

  100% {
    top: -7%;
  }
}

@keyframes hoverDown {
  0% {
    bottom: -7%;
  }

  50% {
    bottom: -3%;
  }

  100% {
    bottom: -7%;
  }
}

.aspectRatio {
  height: 90vh;
  width: 160vh;
  position: relative; /* If you want text inside of it */
  margin: auto auto auto auto;
}

.myCardRow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.myCard {
  position: relative;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh;

  outline: none;
  overflow: hidden;
  border: 3px solid white;
  outline: 3px solid white;
}

.smallCard {
  height: 90vh;
  width: 40vh;
  animation: onSmall 2s;
}

.wideCard {
  height: 100%;
  width: 100%;
  animation: onWiden 2s;
  border-radius: 30px;
}

@keyframes onWiden {
  0% {
    height: 90vh;
    width: 40vh;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

@keyframes onSmall {
  0% {
    border-radius: 30px;
    height: 100%;
    width: 100%;
  }
  90% {
    border-radius: 30px;
  }
  100% {
    border-radius: 0px;
    height: 90vh;
    width: 40vh;
  }
}

.myCard iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.myCard h1 {
  font-size: 1000%;
}

.cover {
  position: absolute;
  width: auto;
  height: 100%;
  background-color: black;
  animation: fadeIn2 2s;
}

.show {
  opacity: 0.75;
  animation: fadeOut2 1s;
}

.show:hover {
  opacity: 1;
  cursor: pointer;
  animation: hoverOver 1s;
}

.display {
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes hoverOver {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
  animation: fadeOut 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.75;
  }
}

.smCard {
  color: white;
  height: 70vh;
  width: 31vh;
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  position: absolute;
  padding: 1%;
  text-align: center;
}

.sml {
  margin-right: 85vh;
}

.smr {
  margin-left: 85vh;
}

.slideInLeft {
  transform: translateX(0);
  animation: slideInLeft 2s;
}

.slideInRight {
  transform: translateX(0);
  animation: slideInRight 2s;
}

.slideOutLeft {
  transform: translateX(-60vh);
  animation: slideOutLeft 2s;
}

.slideOutRight {
  transform: translateX(60vh);
  animation: slideOutRight 2s;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-60vh);
    border-radius: 30px;
  }
  90% {
    border-radius: 30px;
  }
  100% {
    border-radius: 0px;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(60vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60vh);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60vh);
  }
}

.smCard h2 {
  margin: 0;
}

#overfun {
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overfun1 {
  pointer-events: none;
  animation: scroll1 1s;
  animation-timing-function: ease-in;
  position: absolute;
  left: -10vw;
  top: 0;
  opacity: 0;
}

@keyframes scroll1 {
  0% {
    transform: translate(-2vw, 100vh);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(5vw, -100vh);
  }
}

.overfun2 {
  pointer-events: none;
  animation: scroll2 1.8s;
  position: absolute;
  left: -10vw;
  top: 0;
  opacity: 0;
}

@keyframes scroll2 {
  0% {
    opacity: 1;
    transform: translate(20vw, 100vh);
  }
  100% {
    opacity: 1;
    transform: translate(-10vw, -100vh);
  }
}

.overfun3 {
  pointer-events: none;
  animation: scroll3 1.4s;
  position: absolute;
  left: -2vw;
  top: 0;
  opacity: 0;
}

@keyframes scroll3 {
  0% {
    opacity: 1;
    transform: translateY(110vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-130vh);
  }
}

#overfun2 {
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.overfunup1 {
  pointer-events: none;
  animation: scrollup1 1s;
  animation-timing-function: ease-in;
  position: absolute;
  left: -10vw;
  top: 0;
  opacity: 0;
}

@keyframes scrollup1 {
  0% {
    transform: translate(5vw, -100vh);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(-2vw, 100vh);
  }
}

.overfunup2 {
  pointer-events: none;
  animation: scrollup2 1.8s;
  position: absolute;
  left: -10vw;
  top: 0;
  opacity: 0;
}

@keyframes scrollup2 {
  0% {
    opacity: 1;
    transform: translate(-10vw, -100vh);
  }
  100% {
    opacity: 1;
    transform: translate(20vw, 100vh);
  }
}
