#root {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 100%;
  display: block;
  justify-content: center;
}

html {
  overflow: hidden;
}

.myRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  position: relative;
  min-width: 600px;
  min-width: 100%;
  padding: 0;
}

.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 25%;
  pointer-events: none;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.topIdle {
  animation: hoverUp 5s infinite;
}

.bottomIdle {
  animation: hoverDown 5s infinite;
}

.topOpen {
  animation: topOpen 2s;
  top: -100%;
}

.bottomOpen {
  animation: bottomOpen 2s;
  bottom: -100%;
}

@keyframes topOpen {
  0% {
    top: -2%;
  }
  100% {
    top: -100%;
  }
}

@keyframes bottomOpen {
  0% {
    bottom: -2%;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes hoverUp {
  0% {
    top: -7%;
  }

  50% {
    top: -3%;
  }

  100% {
    top: -7%;
  }
}

@keyframes hoverDown {
  0% {
    bottom: -7%;
  }

  50% {
    bottom: -3%;
  }

  100% {
    bottom: -7%;
  }
}

.aspectRatio {
  width: 100%;
  padding-top: 56.25%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  margin: auto;
}

.myCardRow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.myCard {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh;

  outline: none;

  overflow: hidden;

  border: white solid 3px;
  border-radius: 30px;
}

.smallCard {
  height: 90vh;
  width: 40vh;
  animation: onSmall 2s;
}

.wideCard {
  height: 100%;
  width: 100%;
  animation: onWiden 2s;
}

@keyframes onWiden {
  0% {
    height: 90vh;
    width: 40vh;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

@keyframes onSmall {
  0% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 90vh;
    width: 40vh;
  }
}

.myCard iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.myCard h1 {
  font-size: 1000%;
}

.cover {
  position: absolute;
  width: auto;
  height: 100%;
  background-color: black;
}

.show {
  opacity: 0.75;
  animation: fadeIn 2s;
}

.show:hover {
  opacity: 1;
  cursor: pointer;
  animation: hoverOver 1s;
}

@keyframes hoverOver {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
  animation: fadeOut 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.smCard {
  color: white;
  height: 70vh;
  width: 31vh;
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  position: relative;
}

.smCard h2 {
  margin: 0;
}
