#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: visible;
}

.scroll {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(163, 163, 163, 0.9) transparent; /* For Firefox: thumb and track color */

  /* For Webkit (Chrome, Edge, Safari) */
  &::-webkit-scrollbar {
    width: 1px; /* Adjust scrollbar width */
    height: 5px; /* Adjust scrollbar height for horizontal scrollbars */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
    color: transparent; /* Transparent scrollbar color */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 110, 255, 0); /* Semi-transparent dark thumb */
    border-radius: 100px; /* Rounder thumb */
    border: 2px solid transparent; /* Optional: for invisible borders */
    background-clip: content-box; /* Avoids coloring the borders */
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
